.header{
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box ;
    background-color: #84a496 !important;
  }

  .link{
    text-decoration: none !important;
    color: black;
    font-weight: bold;
  }

  .link:hover{
    color: white;
  }
