.alert{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Mulish', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
  }